# Milvus URI：
# 1) Milvus Lite（如果你的 pymilvus 支持文件 URI）： ./milvus_demo.db
# 2) Milvus Server： http://127.0.0.1:19530 或 127.0.0.1:19530
# 此处使用 milvus-lite
MILVUS_URI=https://xxxxxxxali-cn-hangzhou.cloud.zilliz.com.cn
MILVUS_TOKEN=your_token

MILVUS_COLLECTION=novel_chunks
VECTOR_DIM=768

# embedding provider:
# - hash: 纯demo用（默认）
# - st: sentence-transformers（需要你自己 pip install sentence-transformers）
EMBEDDING_PROVIDER=hash

# sentence-transformers model name（provider=st 时生效）
ST_MODEL_NAME=shibing624/text2vec-base-chinese

# chunk params（中文小说建议）
CHUNK_SIZE_CHARS=800
CHUNK_OVERLAP_CHARS=120

# 批处理
EMBED_BATCH_SIZE=64
INSERT_BATCH_SIZE=64
